[init]
	defaultBranch = main
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[core]
	pager = delta
	editor = nvim
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true    # use n and N to move between diff sections
	side-by-side = true
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[user]
	email = shivamkr.kr23@gmail.com
	name = Shivam Kumar
[rerere]
	enabled = true
