/.cache/
/.cache/*
/.cargo/
/.cargo/*
/.mozilla/
/.mozilla/*
/.npm/
/.npm/*
/.oh-my-zsh/
/.oh-my-zsh/*
/.pki/
/.pki/*
/.rustup/
/.rustup/*
/.ssh/
/.ssh/*
/.vim/
/.vim/*
/go/
/go/*
/.local/share/*
/.local/state/*
/.config/chromium/*
/.cpan/
/.cpan/*
/.cpanm/
/.cpanm/*
/perl5/
/perl5/*
/.asdf/
/.asdf/*
/.java/
/.java/*
/.gradle/
/.gradle/*
/.m2/
/.m2/*
/.nuget/
/.nuget/*
/.vscode-oss/
/.vscode-oss/*
/miniconda3/
/miniconda3/*
/.config/libreoffice/
/.config/libreoffice/*
/.config/JetBrains/
/.config/JetBrains/*
/.config/Code - OSS/
/.config/Code - OSS/*
/.config/obsidian/
/.config/obsidian/*
