*.termName: xterm-256color
*.vt100.local: true
*.vt100.metaSendsEscape: true
*.vt100.savLines: 10000
*.vt100.selectToClipboard: true
*.vt100.reverseVideo: true
*.vt100.faceName: FiraCode Nerd Font:size=15:antialias:false
*.vt100.bellIsUrgent: true
*.vt100.backarrowKey: false
*cursorBlink: false
*.ttyModes: erase ^?

*.vt100.translations: #override \n\
	Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
	Shift <Key>Up: scroll-back(1,line) \n\
	Shift <Key>Down: scroll-forw(1,line)
